.home {
  &-page {
    .tag {
      &-list {
        display: flex;
        flex-wrap: wrap;
      }
      &-item {
        padding: 4px;
        font-size: 14px;
      }
    }

    h2 {
      margin-bottom: 16px;
    }

    .typeWriter {
      padding-bottom: 2px;
      border-bottom: 3px solid $primary;
      &:after {
        content: '|';
        margin-left: 4px;
      }
    }
  }
  &-section {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition-duration: 1.5s;
    transition-property: opacity, transform;
    position: relative;
    min-height: calc(100vh - 56px);
    &.is-show {
      opacity: 1;
      transform: translateZ(0);
      transition-duration: 1.5s;
      transition-property: opacity, transform;
    }
    &-first {
      padding-top: 56px;
      h2 {
        font-family: 'Caveat', cursive;
        font-size: 68px;
      }
      .title {
        &-icon {
          margin-left: 8px;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(to top, $white, transparent);
        @include media-breakpoint-down(md) {
          background-position-x: -130px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
        background: url('../../assets/image/background/background-01.jpg');
        background-size: cover;
      }
    }
    &-first & {
      &-tag {
        display: flex;
        justify-content: center;
        margin-top: 64px;
      }
      &-info {
        display: flex;
        align-items: center;
      }
      &-hobbies {
        width: 150px;
        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin: -8px 0;
          width: 70px;
          line-height: 2;
        }
      }
      &-img {
        position: relative;
        margin-right: auto;
        width: 250px;
        height: 350px;
        margin-left: 32px;
        box-shadow: 12px -12px 0 rgb(231 206 180);
        border-radius: 32px 0 32px 0;
        overflow: hidden;
        @include media-breakpoint-down(md) {
          margin: auto;
        }
        .img-box {
          border-radius: 0;
        }
      }
      &-title {
        position: relative;
        display: flex;
        width: 350px;
        height: 100px;
        margin-left: auto;
        @include media-breakpoint-down(md) {
          margin: 16px auto;
          width: 260px;
        }
        h1 {
          display: inline-flex;
          font-weight: 700;
          transform: rotate(-10deg);
          > span {
            font-size: 48px;
          }
        }
        h2 {
          position: absolute;
          top: 30px;
          left: 0;
          color: $primary;
          &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            z-index: -1;
            width: 300px;
            height: 1px;
            transform: rotate(-10deg) translateX(-50%);
            background-color: $primary;
          }
        }
      }
    }
    &-portfolio {
      background-color: rgb(173 163 157 / 10%);
    }
    &-portfolio & {
      &-box {
        @include media-breakpoint-down(md) {
          align-items: normal;
        }
      }
    }
    &-work {
      background-color: rgb(173 163 157 / 50%);
      .home-section-box {
        position: relative;
        flex-direction: column;
        align-items: normal;
        .box {
          display: flex;
          justify-content: center;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.6;
        background: url('../../assets/image/background/background-01.jpg');
        background-size: cover;
      }
    }
    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px 0 100px;
      min-height: calc(100vh - 56px);
      flex-direction: column;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 130%;
    //   height: 100%;
    //   background: linear-gradient(to right, color-mix(in srgb, #d7c4bb, transparent 70%), #ded3ce),
    //     url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center top
    //       no-repeat;
    //   background-size: cover;
    //   border-radius: 0 0 50% 50%;
    //   transform: translateX(-50%) rotate(0deg);
    // }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 130%;
    //   height: 100%;
    //   background: #f1ebeb;
    //   border-radius: 0 0 50% 50%;
    //   transform: translateX(-50%) translateY(18px) rotate(2deg);
    // }
    &-second {
    }
  }
}
.ui-top {
  position: fixed;
  bottom: 50%;
  right: 16px;
  z-index: 999;
  transform: translateY(50%);
  transition: 1.5s all;
  @include media-breakpoint-down(md) {
    right: 8px;
  }
  .btn-group-vertical {
    > .btn:not(.btn-top) {
      &:nth-last-child(2) {
        border-radius: 0 0 6px 6px;
      }
    }
    &.is-animation {
      > .btn:not(.btn-top) {
        &:nth-last-child(2) {
          border-radius: 0;
        }
      }
    }
  }

  .btn {
    width: 38px;
    height: auto;
    padding: 4px 6px 4px 7px;
    color: $primary;
    font-weight: 400;
    border-color: #deb887;
    background-color: #f8f9fa;
    box-shadow: 3.5px 0px 0 #dfb888;
    &:active,
    &.active {
      position: relative;
      padding-left: 4px;
      color: $primary;
      border-left: 4px solid #deb887;
      background-color: #f8f9fa;
      &::before {
        content: '';
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        width: 12px;
        background-color: rgba(227, 158, 158, 20%);
      }
    }
    &:hover {
      padding-left: 4px;
      border-left: 4px solid #deb887;
      border-color: #deb887;
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.5s all;
      // &.is-animation {
      //   animation: headerAnimation 0.5s;
      // }
      &.is-show {
        opacity: 1;
        transition: 0.5s all;
      }
    }
  }
}
// @keyframes btnTopAnimation {
//   from {
//     transform: translateY(-10%);
//   }
//   to {
//     transform: translateY(0);
//   }
// }
