.page {
  &-portfolio {
    margin: 0 32px 32px;
    .carousel {
      width: 100%;
      height: 560px;
      margin-right: 16px;
      .img-box {
        img {
          width: auto;
          height: 100%;
          margin: auto;
        }
        span {
          display: flex !important;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .carousel {
      &-control {
        &-next {
          right: 16px;
        }
      }
      &-item {
        &-page {
          overflow-y: auto;
          .img-box {
            max-width: calc(100% - 30rem);
            min-height: 100%;
            padding-bottom: 100%;
            margin: auto;
            overflow: visible;
            img {
              width: 100%;
              height: auto;
            }
          }
          span {
            height: auto;
            bottom: auto;
          }
        }
      }
    }
    .detail-breadcrumb {
      @include media-breakpoint-down(md) {
        margin-top: 8px;
      }
      .breadcrumb {
        &-item {
          margin-top: 4px;
        }
      }
    }
    .portfolio {
      &-head {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
      }
      &-info {
        margin: 12px 0;
        &-link {
          color: $primary;
        }
        &-note {
          color: $gray-700;
          font-size: 14px;
        }
        @include media-breakpoint-down(md) {
          margin: 24px 0;
        }
        &-title {
          h3 {
            margin-bottom: 0;
          }
          @include media-breakpoint-down(md) {
            margin-bottom: 16px;
          }
        }
      }
      &-carousel {
        display: flex;
        flex-direction: row;
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
      }

      &-imgInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-down(md) {
          order: -1;
          flex-direction: row;
          margin-bottom: 16px;
        }
        &-imageList {
          min-height: 400px;
          @include media-breakpoint-down(md) {
            display: flex;
            justify-content: center;
            min-height: auto;
            width: calc(100% - 64px);
          }
          @include media-breakpoint-down(sm) {
            width: calc(100% - 60px);
          }
          + .portfolio-imgInfo-btn {
            margin-top: 8px;
            @include media-breakpoint-down(md) {
              margin-left: 8px;
              margin-top: 0;
            }
            @include media-breakpoint-down(sm) {
              margin-left: 4px;
            }
          }
        }
        &-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 100%;
          @include media-breakpoint-down(md) {
            width: 32px;
            height: 32px;
            padding: 4px;
          }
          @include media-breakpoint-down(sm) {
            width: 30px;
            height: 30px;
          }
          + .portfolio-imgInfo-imageList {
            margin-top: 8px;
            @include media-breakpoint-down(md) {
              margin-left: 8px;
              margin-top: 0;
            }
            @include media-breakpoint-down(sm) {
              margin-left: 4px;
            }
          }
        }

        &-item {
          width: 80px;
          height: 80px;
          margin-bottom: 16px;
          @include media-breakpoint-down(md) {
            margin-bottom: 0;
            margin-right: 8px;
            height: 100%;
            .img-box {
              padding-bottom: 100%;
            }
          }
          @include media-breakpoint-down(sm) {
            margin-right: 4px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
