.work {
  &Data {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    &-btn {
      position: absolute;
      top: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 8px;
      transform: translateY(-50%);
      z-index: 999;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        position: static;
        height: auto;
        top: 0;
        transform: translateY(0);
      }
      &.is-disabled {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
        cursor: default;
        span {
          color: $gray-400;
        }
        .button {
          border-color: $gray-100;
          background-color: #f8f9fa;
        }
      }
      &:hover {
        span {
          color: $white;
          opacity: 0.8;
        }
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: #b8a07e;
        background-color: $primary;
      }
      span {
        color: $white;
        font-size: 16px;
      }
      &-pre {
        left: 16px;
        @include media-breakpoint-down(md) {
          left: 0;
        }
      }
      &-next {
        right: 16px;
        @include media-breakpoint-down(md) {
          right: 0;
        }
      }
    }
    .list-group-item {
      padding: 8px 0;
      letter-spacing: 0.8px;
    }
  }
  &-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 24px;
    min-height: 630px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      min-height: 100%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      min-width: 100%;
      padding: 24px;
    }
    &-box {
      display: none;
      justify-content: center;
      width: 100%;
      min-width: 200px;
      max-width: calc(100% - 180px);
      opacity: 0;
      @include media-breakpoint-down(md) {
        position: static;
        max-width: inherit;
        min-width: inherit;
        padding: 16px;
      }
      &.is-show {
        display: flex;
        opacity: 1;
        transform: translateZ(0);
        transition-duration: 1.5s;
        transition-property: opacity;
      }
    }
    &-top {
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      max-width: 600px;
      height: 60px;
      padding: 30px 0 60px;
      margin-left: 50%;
      transition: 1.5s;
    }
    &-toolbar {
      @include media-breakpoint-down(md) {
        display: flex;
        margin: 16px 0;
      }
    }
  }
  &-year {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      height: 100px;
      width: 100px;
    }
    &-point {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #f19a9a;
      &-icon {
        width: 32px;
        height: 32px;
        + .work-year-text {
          margin-top: 16px;
        }
      }
      > span {
        margin: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-text {
      position: absolute;
      top: 16px;
      font-family: 'Caveat', cursive;
      font-size: 18px;
      font-weight: 800;
      color: #f19a9a;
      width: 100px;
      text-align: center;
      @include media-breakpoint-down(md) {
        width: auto;
      }
    }
    &-line {
      position: absolute;
      width: 100%;
      &-progress {
        height: 2px;
        background: linear-gradient(to right, rgba(152, 74, 74, 0.9) 0%, rgba(#f19a9a, 100%) 40%, rgba(#f19a9a, 100%) 100%);
        .progress {
          &-bar {
            background-color: rgba(134, 127, 124, 0.9);
            &-two {
              background: linear-gradient(to right, rgba(134, 127, 124, 0.9) 0%, rgba($primary, 0.5) 50%, rgba(#f19a9a, 0) 100%);
            }
          }
        }
      }
    }

    &.is-show {
      .work {
        &-year {
          &-text {
            color: rgb(152 74 74);
            font-size: 32px;
            transform: translateZ(0);
            transition: 1.5s;
          }
          &-point {
            width: 12px;
            height: 12px;
            background-color: rgb(152 74 74);
          }
        }
      }
      &.iconYear {
        .work {
          &-year {
            &-text {
              color: rgb(152 74 74);
              font-size: 32px;
              transform: translateZ(0);
              transition: 1.5s;
            }
            &-point {
              width: 32px;
              height: 32px;
              background-color: rgb(152 74 74);
              &-icon {
                color: $white;
              }
            }
          }
        }
      }
    }
    &.is-disabled {
      .work {
        &-year {
          &-text {
            color: rgba(134, 127, 124, 0.9);
          }
          &-point {
            background-color: rgba(134, 127, 124, 0.9);
          }
        }
      }
    }
  }
  &-box {
    padding: 32px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 0 rgba(134, 127, 124, 0.5);
    background-color: #fff;
    @include media-breakpoint-down(md) {
      padding: 16px;
    }
  }
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    h3 {
      margin: 0;
      font-size: 38px;
      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      > span {
        font-size: 32px;
      }
    }
  }
  &-time {
    letter-spacing: 0.5px;
    @include media-breakpoint-down(md) {
      margin: 8px 0;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 8px;
    &-title {
      display: inline-flex;
      padding: 2px 8px;
      margin-bottom: 4px;
      color: $white;
      border-radius: 8px;
      background-color: $primary;
    }
    &-tool {
      font-size: 14px;
      color: $gray-600;
      @include media-breakpoint-down(md) {
        margin-top: 8px;
      }
    }
  }
  &-info {
    padding: 8px;
    h5 {
      margin-bottom: 8px;
      color: $primary;
    }
    & + & {
      margin-top: 8px;
    }
    &-title {
      font-weight: 800;
    }
  }
}
