.portfolio {
  &-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    &bar {
      margin: 24px 0;
      @include media-breakpoint-down(md) {
        margin: 0 6px 24px;
      }
    }
    .btn-group {
      .btn {
        padding: 8px;
        letter-spacing: 0.8px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
  }
  &-cardInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 180px);
  }
  &-tool {
    display: flex;
    justify-content: center;
  }
}
