header {
  .nav {
    &-link {
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }
  &.isNavCollapsed {
    .collapse {
      display: block;
      opacity: 1;
    }

    .offcanvas {
      bottom: 0;
      &-uiHeader {
        border-radius: 32px 0 0 32px;
      }
      &-header,
      &-body {
        padding: 32px;
        color: $primary;
      }
      .nav {
        &-link {
          padding: 16px;
          color: $secondary;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: calc(100% - 16px);
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: transparent;
          }
          &.is-active {
            color: $primary;
            font-weight: 500;
            &::before {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
  .btn-toggle {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0px 0px 3px $gray-500;
    backdrop-filter: blur(20px);
    background-color: rgba($primary, 0.2);
    &-nav {
      &-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .nav {
      &-item {
        margin-left: 8px;
        &:first-child {
          margin-left: 0;
        }
      }
      &-link {
        padding: 8px;
        font-weight: 500;
        cursor: pointer;
        &.is-active {
          color: $primary;
        }
      }
    }
  }
  .collapse-nav {
    flex: 1;
  }
  @include media-breakpoint-down(md) {
    .btn-toggle {
      display: flex;
      margin: 4px 0;
    }
    .navbar {
      padding-left: 16px;
      min-height: 56px;
      &-nav {
        &-header {
          display: none;
        }
      }
    }
  }
}
