header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 0px 3px $gray-500;
  backdrop-filter: blur(20px);
  background-color: rgba($primary, 0.2);
  .btn-toggle {
    display: none;
  }

  .navbar {
    &-nav {
      &-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .nav {
      &-link {
        padding: 8px;
      }
    }
  }
  .collapse-nav {
    flex: 1;
  }
  @include media-breakpoint-down(md) {
    .btn-toggle {
      display: flex;
    }
    .navbar {
      &-nav {
        &-header {
          display: none;
        }
      }
    }
  }
}
