$desktop-M: 36px;
$mobile-M: 12px;
.cordInfo {
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - ($desktop-M * 3)) / 3);
    margin: 0 $desktop-M $desktop-M * 1.5 0;
    @include media-breakpoint-down(md) {
      width: calc((100% - (($mobile-M * 4) + 6px)) / 2);
      margin: 0 $mobile-M $mobile-M * 1.5;
      &:nth-child(2n) {
        margin-left: 18px;
      }
    }

    &:hover {
      &::before {
        border: 1px solid rgb(241, 200, 200);
      }
      .cordInfo {
        &-info {
          visibility: visible;
        }
      }

      .img-box {
        &::before {
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 1;
          background: rgb(57 57 57 / 0.6);
          z-index: 1;
          transition: 0.35s all;
        }
        > span {
          transition: 0.35s all;
          transform: scale(1.1);
        }
      }
    }
    &:active {
      .cordInfo {
        &-box {
          box-shadow: none;
          transform: translateY(5px);
        }
      }
    }
  }
  &-box {
    position: relative;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 0 #e3e2e0;
    background: #fff;
    transition: 0.35s all;
    &::after {
      content: '';
      position: absolute;
      top: -8px;
      left: 8px;
      right: -8px;
      bottom: 8px;
      border: 1px solid #e3e2e0;
      border-radius: 8px;
      z-index: -1;
      @include media-breakpoint-down(sm) {
        top: -6px;
        left: 6px;
        right: -6px;
        bottom: 6px;
      }
    }
  }
  &-tool {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 8px 16px;
    border-radius: 0 0 8px 8px;
    background: $white;
    border-top: 1px solid #ddd;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 32px;
      padding: 6px;
      color: rgb(108 88 83);
      box-shadow: none;
      &:hover {
        background: #f5f0f0;
      }
    }
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 8px;
  }
  &-info {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 16px 32px;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
    &-text {
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: 200;
    }
    &-tag {
      position: absolute;
      top: 16px;
      left: 16px;
      display: inline-block;
      padding: 4px 10px;
      font-size: 12px;
      border-radius: 12px;
      background: rgb(185, 135, 135);
    }
  }
  &-title {
    padding: 16px 0;
    min-height: 80px;
    width: 100%;
    color: $primary;
    font-weight: 600;
    background: $white;
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      min-height: 60px;
    }
    &-text {
      text-align: center;
      // @include text-one-line-truncate(100%, auto, 1.5);
      @include text-line-truncate(2, 100%, auto, 1.5);
      div {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
  &-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: 0.35s all;
    @include media-breakpoint-down(sm) {
      box-shadow: 0 0 3px $gray-400;
    }
    .img-box {
      transition: 0.35s all;
      padding-bottom: 100%;
      height: auto;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
      }
    }

    &-webPage {
      height: 800px;
      .lazy-load-image-background {
        bottom: auto;
        height: auto;
      }
      .img-box {
        height: 100%;
      }
    }
  }
}
