footer {
  display: flex;
  align-items: flex-end;
  padding: 16px 0;
  min-height: 80px;
  color: $white;
  background-color: rgba(rgb(192 175 175), $alpha: 0.9);

  .footer {
    &-list {
      display: flex;
      justify-content: center;
      margin-bottom: 4px;
      &-item {
        padding: 0 8px;
      }
      &-link {
        color: $white;
        border-radius: 100%;
        padding: 0 4px;
        width: 32px;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      font-size: 14px;
      letter-spacing: 1px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      span + span {
        margin-left: 8px;
        @include media-breakpoint-down(md) {
          margin-left: 0;
        }
      }
    }
  }
}
